/* Default Styles */

html,
body {
  background: #f6f6f6;
  color: #303841;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

a {
  color: #00adb5;
  text-decoration: none;
}

.separator {
  padding: 0.5rem;
}

.card {
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  color: #303841;
  margin: 1rem 20%;
  padding: 1rem;
  text-align: center;
}

/* HEADER STYLES */

.header {
  background: #303841;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  color: white;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 1rem;
  text-align: center;
}
.header h1 {
  font-size: 2rem;
}

/* Logo and App Name */
.header-title {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
.header-title img {
  margin-right: 0.25rem;
  width: 4rem;
}

/* Navigation Bar */
.nav a {
  color: #ff824d;
  font-weight: bold;
  margin: 0.66rem;
}
.nav a:hover {
  color: #00adb5;
}

/* HOME PAGE */

.coins-container {
  padding: 1rem;
}

.coin-table {
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.coin-table th,
td {
  padding: 0.5rem;
}

.coin-table td img {
  width: 25px;
}

.coin-name {
  padding-left: 1rem;
  position: relative;
  top: -4px;
}

.coin-table tr:nth-child(odd) {
  background: rgba(0, 173, 181, 0.15);
}

/* SEARCH PAGE */

#search {
  background: #ff824d;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
}
#search:hover {
  cursor: pointer;
  opacity: 0.9;
}

/* SEARCH RESULT STYLES */

.search-result-header {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.search-result-header h2 {
  padding: 1rem;
}

#search-result-div {
  margin: 1rem 20%;
  margin-top: 0;
  text-align: left;
}

.search-result p {
  padding-bottom: 0.25rem;
}

.flex-container {
  display: flex;
}
#date_input {
  margin-right: 1rem;
}

#search-history-button {
  border: none;
  border-radius: 6px;
  background: #ff824d;
  padding: 0.4rem 0.6rem;
}
#search-history-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

#history-result {
  color: #00adb5;
}

/* EVENT STYLES */

#upcoming-events {
  margin: 1rem 15%;
}

.event-card img {
  padding: 1rem;
  width: 25rem;
}

/* ABOUT PAGE */


/* MOBILE STYLES */
@media screen and (max-width: 750px) {

  /* SEARCH STYLES */
  #coin-search-form {
    margin: 1rem;
  }

  /* SEARCH RESULT STYLES */
  #search-result-div {
    margin: 0 1rem;
  }


  /* EVENTS STYLES */
  .event-card {
    padding: 0.25rem;
  }

  .event-card img {
    padding: 0;
  }

  #upcoming-events {
    margin: 1rem;
  }
  #upcoming-events img {
    width: 300px;
  }

  /* ABOUT PAGE */
  #about {
    margin: 1rem;
  }

}