html,
body {
  margin: 0;
  padding: 0;
  background: #f6f6f6;
  color: #303841;
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #00adb5;
}

.separator {
  padding: 0.5rem;
}

.header {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  background: #303841;
  text-align: center;
  color: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
.header h1 {
  font-size: 2rem;
}
.header a {
  color: #ff824d;
  margin: 0.66rem;
  font-weight: bold;
}
.header a:hover {
  color: #00adb5;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header-title img {
  width: 4rem;
  margin-right: 0.25rem;
}

.coins-container {
  padding: 1rem;
}

.coin-table {
  margin: 0 auto;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
}

.coin-table th,
td {
  padding: 0.5rem;
}

.coin-table td img {
  width: 25px;
}

.coin-name {
  padding-left: 1rem;
  position: relative;
  top: -4px;
}

.coin-table tr:nth-child(odd) {
  background: rgba(0, 173, 181, 0.15);
}

.about {
  text-align: center;
  background: white;
  color: #303841;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  margin: 1rem 20%;
  padding: 1rem;
}

.search-form {
  text-align: center;
  background: white;
  color: #303841;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  margin: 1rem 20%;
  padding: 1rem;
}

#search {
  background: #ff824d;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
}
#search:hover {
  cursor: pointer;
  opacity: 0.9;
}
.search-result-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.search-result-header h2 {
  padding: 1rem;
}

.search-result {
  background: white;
  color: #303841;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  margin: 1rem 20%;
  padding: 1rem;
  margin-top: 0;
}

.search-result p {
  padding-bottom: 0.25rem;
}

.flex-container {
  display: flex;
}
#date_input {
  margin-right: 1rem;
}

#search-history-button {
  border: none;
  border-radius: 6px;
  background: #ff824d;
  padding: 0.4rem 0.6rem;
}
#search-history-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

#history-result {
  color: #00adb5;
}

.event-card {
  text-align: center;
  background: white;
  color: #303841;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  margin: 1rem 15%;
  padding: 1rem;
}

.event-card img {
  padding: 1rem;
  width: 25rem;
}
