<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Coins</title>
    {% endif %}
    <link
      href="{{ url_for('static', filename='styles.css') }}"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito|Quicksand&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <div class="header-title">
        <img src="{{ url_for('static', filename='coin.svg') }}">
        <h1>Coin Directory</h1>
      </div>
      <p class="separator"></p>
      <a href="{{ url_for('index')}}">Home</a>
      <a href="{{ url_for('search')}}">Search</a>
      <a href="{{ url_for('about')}}">About</a>
    </div>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="error-message">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% block content %}{% endblock %}
  </body>
</html>
